In [81]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import joblib
import ast #Per estrapolare una lista da una stringa
import numpy as np

In [2]:
data = pd.read_csv("blackjack_simulator.csv")

In [3]:
data

,shoe_id,cards_remaining,dealer_up,initial_hand,dealer_final,dealer_final_value,player_final,player_final_value,actions_taken,run_count,true_count,win
0,0,416,10,"[10, 11]","[10, 4, 10]",24,"[[10, 11]]",['BJ'],[['S']],1,0,1.5
1,0,411,10,"[5, 5]","[10, 8]",18,"[[5, 5, 11]]",[21],"[['H', 'S']]",-2,0,1.0
2,0,406,6,"[3, 10]","[6, 6, 10]",22,"[[3, 10]]",[13],[['S']],-2,0,1.0
3,0,401,10,"[5, 9]","[10, 8]",18,"[[5, 9, 11, 3]]",[18],"[['H', 'H', 'S']]",-1,0,0.0
4,0,395,8,"[6, 10]","[8, 2, 10]",20,"[[6, 10, 10]]",[26],[['H']],-1,0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49999995,822844,108,10,"[7, 9]","[10, 3, 10]",23,"[[7, 9]]",[16],[['R']],14,6,-0.5
49999996,822844,103,5,"[9, 9]","[5, 2, 5, 9]",21,"[[9, 10], [9, 10]]","[19, 19]","[['P', 'S'], ['S']]",13,6,-2.0
49999997,822844,95,10,"[10, 10]","[10, 10]",20,"[[10, 10]]",[20],[['S']],14,7,0.0
49999998,822844,91,9,"[4, 10]","[9, 10]",19,"[[4, 10, 9]]",[23],[['H']],10,5,-1.0
49999999,822844,86,10,"[10, 8]","[10, 10]",20,"[[10, 8]]",[18],[['S']],9,5,-1.0

In [4]:
data_copied = data.copy()

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000000 entries, 0 to 49999999
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   shoe_id             int64
 1   cards_remaining     int64
 2   dealer_up           int64
 3   initial_hand        object
 4   dealer_final        object
 5   dealer_final_value  object
 6   player_final        object
 7   player_final_value  object
 8   actions_taken       object
 9   run_count           int64
 10  true_count          int64
 11  win                 float64
dtypes: float64(1), int64(5), object(6)
memory usage: 4.5+ GB

In [38]:
couple_cards_dict = {tuple(ast.literal_eval(cards)) : count for count, cards in enumerate(data["initial_hand"].unique())}

In [71]:
actions_dict = {action : count for count, action in enumerate(data["actions_taken"].unique())}

In [42]:
initial_hand_numbered = np.array([couple_cards_dict[tuple(ast.literal_eval(cards))] for cards in data["initial_hand"].values])

In [74]:
actions_numbered = np.array([actions_dict[action] for action in data["actions_taken"].values])

In [75]:
data["initial_hand_numbered"] = initial_hand_numbered
data["actions_numbered"] = actions_numbered

In [76]:
data

,shoe_id,cards_remaining,dealer_up,initial_hand,dealer_final,dealer_final_value,player_final,player_final_value,actions_taken,run_count,true_count,win,initial_hand_numbered,actions_numbered
0,0,416,10,"[10, 11]","[10, 4, 10]",24,"[[10, 11]]",['BJ'],[['S']],1,0,1.5,0,0
1,0,411,10,"[5, 5]","[10, 8]",18,"[[5, 5, 11]]",[21],"[['H', 'S']]",-2,0,1.0,1,1
2,0,406,6,"[3, 10]","[6, 6, 10]",22,"[[3, 10]]",[13],[['S']],-2,0,1.0,2,0
3,0,401,10,"[5, 9]","[10, 8]",18,"[[5, 9, 11, 3]]",[18],"[['H', 'H', 'S']]",-1,0,0.0,3,2
4,0,395,8,"[6, 10]","[8, 2, 10]",20,"[[6, 10, 10]]",[26],[['H']],-1,0,-1.0,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49999995,822844,108,10,"[7, 9]","[10, 3, 10]",23,"[[7, 9]]",[16],[['R']],14,6,-0.5,97,6
49999996,822844,103,5,"[9, 9]","[5, 2, 5, 9]",21,"[[9, 10], [9, 10]]","[19, 19]","[['P', 'S'], ['S']]",13,6,-2.0,30,23
49999997,822844,95,10,"[10, 10]","[10, 10]",20,"[[10, 10]]",[20],[['S']],14,7,0.0,11,0
49999998,822844,91,9,"[4, 10]","[9, 10]",19,"[[4, 10, 9]]",[23],[['H']],10,5,-1.0,12,3
49999999,822844,86,10,"[10, 8]","[10, 10]",20,"[[10, 8]]",[18],[['S']],9,5,-1.0,7,0

In [77]:
feature = ["dealer_up", "initial_hand_numbered", "run_count"]
target = ["actions_numbered"]

In [78]:
X = data[feature].values
y = data[target].values

In [82]:
model = LinearRegression()

In [83]:
model.fit(X, y)

LinearRegression()

In [84]:
model.score(X, y)

0.0024401214774578683